@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/* GENERAL GLOBAL STYLES */

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  color:#40351D;
}

body{
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  background:#fff8ea;
  min-height: 100vh;
}

html, body, #root, .layout{
  min-height: 100vh !important;
}

.layout{
  display:flex;
  flex-direction: column;
}

a{
  text-decoration:none;
}

li{
  list-style-type:none;
}

/* UTILITIES */

.center{
  text-align:center;
}

.container{
  width:100%;
  max-width:1100px;
  margin: 0 auto;
}

.btn-primary{
    background: #ffd475;
    padding: 0.75em 1.5em;
    border-radius: 0.6em;
    font-weight:700;
    display: block;
    width: fit-content;
    margin: 1em auto 0 auto;
    outline:none;
    border:none;
    font-size:0.85rem;
    font-family: inherit;
}

.btn-primary:hover{
  background-color: #ffdd91;
}

.btn-secondary{
  background: #fff8ea;
  border:2px solid #ffd475;
  padding: 0.8em 1.5em;
  border-radius: 0.6em;
  display: block;
  width: fit-content;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-secondary:hover{
  cursor: pointer;
  background: #fff2d6;
}

.error{
  text-align:center;
  color:#ca3435;
  font-weight: 600;
  margin:1em 0;
}

/*custom scrollbar */

::-webkit-scrollbar {
  width: 0.85rem;
}

::-webkit-scrollbar-track {
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* for firefox */

@supports(scrollbar-color: #666 #aaa) {
  *{
    scrollbar-color: #666 #aaa;
  }
}
